@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-color);
}
:root{
  /* colors */
  --primary-color:#7f552b;
  --panel-color:#fff;
  --text-color:#000;
  --black-light-color:#707070;
  --border-color:#e6e5e5;
  --toggle-color:#ddd;
  --box1-color:#ffe6ac;
  --box2-color:#ffe6ac;
  --box3-color:#ffe6ac;
  --title-icon-color:#fff;
  --button-color:#f9d200;
  --search-color:#f9d200;
  --select-color:#eaeaea;
  --select-hover:white;
  --slide-color:transparent;
  --box-shadow:rgba(0, 0, 0, 0.1);
  --borderr-color:rgba(3, 3, 3, 0.2);
  --aboutus:#C9C9C9;
  --background-color:white;
  --container-color:white;
  --home-color:rgba(0, 0, 0, 0.5);
  --contact-content-color:#686868;
  --span-color:#9D8772;
  --footer:#ffe6ac;
  --green-color:darkgreen;
  --visa-color:blue;
  /* transition */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}
body.dark{
  --primary-color:#3a3b3c;
  --panel-color:#242526;
  --text-color:#ccc;
  --black-light-color:#ccc;
  --border-color:#4d4c4c;
  --toggle-color:#fff;
  --box1-color:#3a3b3c;
  --box2-color:#3a3b3c;
  --box3-color:#3a3b3c;
  --title-icon-color:#ccc;
  --button-color:#5b5d5f;
  --search-color:black;
  --select-color:#eaeaea;
  --select-hover:#605a5a;
  --slide-color:transparent;
  --box-shadow:rgba(0, 0, 0, 0.1);
  --border-color:rgba(3, 3, 3, 0.2);
  --aboutus:#C9C9C9;
  --background-color:#5b5d5f;
  --container-color:#3a3b3c;
  --home-color:rgba(0, 0, 0, 0.5);
  --footer:#c9c9c9;
  --green-color:black;
  --visa-color:black;
}
body.dark a:hover:before{
  background-color: var(--text-color);
}
body.dark .icons a:hover i,
body.dark .icons a:hover .link-name{
   color: var(--text-color);
}
body.dark .logout-mode a:hover i,
body.dark .logout-mode a:hover .link-name{
   color: var(--text-color);
}
/* start navbar */
.navbar{
  height: 100px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#select{
  width: 100%;
  text-align: center;
}
#select option{
  background-color: var(--primary-color);
}
.navbar .list{
  display: flex;
  flex-wrap: wrap;
}
/* .slide-form{
  background-color: transparent;
  width: 100%;
text-align: center;
} */
.navbar .list select{
  background-color: var(--slide-color);
  border: none;
  outline: none;
  color: var(--select-color);
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.navbar .list select:hover{
  background-color: var(--select-hover) ;
  color: var(--text-color);
}
.navbar .list select option{
  background-color: var(--primary-color);
  color: var(--select-color);
}
.navbar .list select option:hover{
  background: var(--select-hover);
}
.logoo{
  width: 20%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.logoo .logo{
  width: 30%;
  padding-left: 20px;
}
.logoo .logo img{
  border-radius: 50%;
  width: 100%;
  margin-top: 10px;
}
.navbar .logoo a{
  text-decoration: none;
  color:var(--select-color);
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s;
  /* padding-top: 20px; */
}
.navbar .list button{
  background-color: var(--slide-color);
  border: none;
  color: var(--select-color);
  font-size: 1.3rem;
  border-radius: 10px;
  padding: 5px;
}.navbar .list button:hover{
  background-color: var(--select-hover) ;
  color: var(--text-color);
}
#laptop{
  font-size: 1.7rem;
  color:var(--select-color);
  text-decoration: none;
  font-weight: 600;
}
.navbar .logo{
  font-size: 1.7rem;
  color:var(--select-color);
  text-decoration: none;
  font-weight: 600;
}
.navbar .list a{
  text-decoration: none;
  color:var(--select-color);
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  font-size: 1.3rem;
  transition: all 0.3s;
}
.navbar .list a:hover{
  background-color: var(--select-hover) ;
  color: var(--text-color);
}
.navbar .icons i{
  color:var(--select-color);
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.navbar .icons i:hover{
  background-color: var(--select-hover) ;
  color: var(--text-color);
  transform: rotate(360deg);
}
#bars{
  display: none;
}
/* Tablet */
@media screen and (max-width:1000px) and (min-width:768px) {
  

}

/* Large Phone land */
@media screen and (max-width:767px) and (min-width:601px) {
 


}
/* Small Phone */
@media screen and (max-width:600px) {
  *{
      font-size: 13px;
  }
  .navbar{
      position: relative;
  }
  .navbar .list {
      position: absolute;
      top: -250%;
      left: 0;
      background-color: var(--slide-color);
      border: 1px solid var(--select-color);
      width: 100%;
      transition: 0.3s;
      background-color: var(--primary-color);
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 9999;
      row-gap: 10px;

  }
  .slide-form{
    background-color: var(--slide-color);
    width: 100%;
  text-align: center;
  }
  .list.slide{
      top: 100%;
  }
  .navbar .list a{
      display: block;
      color: var(--select-color);
      background-color: var(--slide-color);
      width: 100%;
      text-align: center;

   }
   .navbar .list button{
    display: block;
    color: var(--select-color);
    background-color: var(--slide-color);
    width: 100%;
    text-align: center;

 }
   
   #bars{
       display: inline-block;
       color: var(--select-color);
}
#bars:hover{
  color: var(--text-color);
  background-color: var(--select-hover);
}
}
/* end navbar */
/* **** Start of product-card  *****/
H1{
  text-align: center;
  margin: 3% 0;
  font-size: 50px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px var(--borderr-color);
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 50px;
    margin-top: 30px;

    
}
.product-card{
    width: 30%;
    border-radius: 16px;
    box-shadow: 0 4px 10px var(--primary-color);
backdrop-filter: blur(13.6px);
-webkit-backdrop-filter: blur(13.6px);
border-bottom: 1px solid var(--box1-color);
background-color: var(--container-color); 
}
.product-card:hover{
    transform: scale(1.1);
}
.product-card .product-img{
  width: 70%;
  border-radius: 50%;
  padding: 20px ;
  margin-left: 50px;
}
.product-card .product-img img{
    width: 100%;
    border-radius: 50%;

}
.product-card .product-info{
  padding: 20px;
  line-height: 1.5;
}
.product-card .product-info h3{
  color: var(--text-color);
}
.product-card .product-info h2{
  color: var(--text-color);
}
.Buttons{
    display: flex;
    justify-content: end;
    gap:12px;
    padding:  10px;
}
.Buttons button{
    text-decoration: none;
    border: none;
    outline: none;
    background: var(--slide-color);
}
.Buttons p{
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;

}
.Buttons i{
    background-color: var(--search-color);
    color: var(--text-color);
    border-radius: 30px;
    font-size: 30px;
    border: var(--search-color) 7px solid;
    cursor: pointer;
    transition: all 0.3s;
}
/* .Buttons button:hover{
    background-color: #f9d200;
    color: black;
    border-radius: 30px;
    border: #f9d200 2px solid;
    transform: scale(1.1);
} */
/* **** End of product-card  *****/
/* **** Start of anchors  *****/
.AddProceed{
    
    margin-top: 2%;
    margin-bottom: 7%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.AddProceed .Adding a{
    height: 50px;
    text-decoration: none;
    background-color: var(--search-color);
    color: var(--text-color);
    font-size: 25px;
    /* border: solid 2px black ; */
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.AddProceed .Adding a:hover{
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--search-color);
    transform: scale(1.1);
}
/* **** End of anchors  *****/
.FORMS h2{
  font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: var(--text-color);
    text-shadow: 1px 1px 1px var(--text-color);
    /* border-bottom: solid 1px black; */
}
.FORMS{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.FORMS .forming{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  /* background-color: white;
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(13.6px);
-webkit-backdrop-filter: blur(13.6px);
border-bottom: 1px solid #fce19f; 
padding: 20px; */
}
.FORMS .forming .checkout{
  width: 40%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  line-height: 2.5;
  background-color: var(--container-color);
  border-radius: 10px;
box-shadow: 0 4px 10px var(--primary-color);
backdrop-filter: blur(13.6px);
-webkit-backdrop-filter: blur(13.6px);
border-bottom: 1px solid var(--box1-color); 
padding: 20px;
margin-top: 50px;
}
.FORMS .forming .checkout input{
  border: 3px solid var(--borderr-color);
}
.FORMS .forming .pay{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 10px;
box-shadow: 0 4px 10px var(--primary-color);
backdrop-filter: blur(13.6px);
-webkit-backdrop-filter: blur(13.6px);
border-bottom: 1px solid var(--box2-color); 
padding: 20px;
}
.FORMS .forming form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 3;
  margin: auto;
  
}
.FORMS .forming label{
  width: 100%;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 400;
    margin: 5px 0 ;
}
.FORMS .forming input{
  height: 40px;
    width: 80%;
    background: var(--slide-color);
    border-radius: 7px;
    outline: none;
    border: var(--borderr-color);
    outline: none;
    border: 3px solid var(--borderr-color);
    padding: 0 10px;
}
.FORMS .forming .payment i{
  text-align: center;
  font-size: 70PX;
}
.FORMS .forming .payment label i #visa{
  color: var(--visa-color);
}
.FORMS .forming .payment{
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
}
.FORMS .forming .payment input{
  width: 150px;
  /* height: 30px; */
  margin: 20px 0 ;
}
.FORMS .forming button{
  font-size: 25px;
  background-color: var(--search-color);
  color: var(--text-color);
  border: none;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 12px; 
  border-radius: 10px;
}
.FORMS .forming button:hover{
  background-color: var(--slide-color);
  color: var(--text-color);
  border: 1px solid var(--search-color);
  transform: scale(1.1);
}
/* **** Start of Media Query *****/
@media(max-width:991.98px){
    .products .product-card{
        width: 90%;
        margin: 10px;
    }
    .products .product-card .product-img img{
        width: 100%;
    }
    .products .product-card h2{
      font-size: 25px;
    }
    .products .product-card h3{
      font-size: 20px;
    }
}
@media(max-width:490px){
  .AddProceed .Adding a{
    display: block;
    margin: 20px 0;
  }
}
@media(max-width:992.98px){
  .FORMS .forming .checkout{
    width: 90%;
    margin: auto;
  }
  .FORMS .forming .checkout i{
    font-size: 25px;
  }
  .FORMS .forming .pay{
    width: 90%;
    margin: auto;
  }
  .FORMS .forming .payment{
    display: block;
  }
  .FORMS .forming input{
    width: 100%;
  }
}

footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 90px;
  background-color:var(--primary-color);
  color: var(--text-color); 
  
}
.containerFooter{
  display: grid;
  justify-content: end;
  align-content: end;
  grid-template-columns: 2fr 1fr   1fr;
  grid-gap:20px;
  color: var(--select-color);
}
.containerFooter .secAboutus h2{
  position: relative;
  font-weight: 600;
  margin-bottom: 30px;
}
.containerFooter .secAboutus .sci{
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(4,50px);
}
.containerFooter .secAboutus .sci li{
  list-style: none;
}
.containerFooter .secAboutus .sci li a{
  display: inline-block;
  width: 36px;
  height: 36px;
  color: var(--select-color);
  /* background-color: #c9c9c9;  */
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}
.containerFooter .secAboutus .sci li a i{
  font-size: 25px;
  color:var(--select-color);
}
.containerFooter .secQuicklinks h2{
  position: relative;
  font-weight: 600;
  margin-bottom: 30px;
}
.containerFooter .secQuicklinks ul li {
  list-style: none;
}
.containerFooter .secQuicklinks ul li a{
  text-decoration: none;
  margin-bottom: 7px;
  display: inline-block;
  color: var(--select-color);
}
.containerFooter .secQuicklinks .info{
  position: relative;
}
.containerFooter .secQuicklinks .info li{
  display: grid;
  margin-bottom: 9px;
}
.containerFooter .secQuicklinks .info li span{
  color: var(--select-color);
  font-size: 18px;
}
.containerFooter .secQuicklinks .info li a{
  color: var(--select-color);
  text-decoration: none;
  margin-left: 10px;
}
.copyrighttext{
  width: 100%;
  background-color: var(--footer);
  padding: 10px 90px 10px;
  text-align: center;
  color: black;
  
}
@media (max-width:643px)
 {
  footer
  {
 padding:40px;} 
 .containerFooter
 {
  display: grid;
  justify-content: end;
  align-content: end;
  grid-template-columns: repeat(1,1fr);
  grid-gap:20px;
  color: var(--select-hover);}
}